POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=auth_lab
POSTGRES_PORT=5432

BACKEND_PORT=8000

DATABASE_URL=postgresql://postgres:postgres@db:5432/auth_lab

SECRET_KEY=super_secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=30